

<div #mapContainer id="map"></div>
<table style="width: max-content;">
    <h1 style="text-align: center">{{address}}</h1>
    <h2>Further parsing with the address using Geocoding</h2>
    <tr>
        <div>
            <strong style="font-size:20px;font-family:fantasy">The address is</strong>
            
            <td><label id="address1">Address 1 </label></td> 
            <td style="border-radius: 1px;">
                <input type="text" [(ngModel)]="address1" name="address1" id="address1"  />
            </td>
        </div>
    </tr>
    <tr>
        <div>
            <td><label id="address1">Address 2 </label>
            <td style="border-radius: 1px;">
                <input type="text" [(ngModel)]="address2" name="address2" id="address2"  />
            </td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <td><label id="address1">Zip code </label></td> 
            <td style="border-radius: 1px;">
                <input type="text" [(ngModel)]="zip" name="zip" id="zip"  />
            </td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <td><label id="address1">Country</label></td> 
            <td style="border-radius: 1px;">
                <input type="text" [(ngModel)]="country" name="country" id="country"  />
            </td>
        </div>
    </tr>
</table>